---
layout: archive
---

<h1>About me</h1>
<section class="page__content" itemprop="text">
<!-- <section class="page__content" itemprop="text" style="font-size:$type-size-6"> -->
    <p>
        I'm Zig Hampel, a physics Ph.D., data analyst, and programmer with an interest in applying machine learning
        in the geospatial analysis domain. 
        I have several years of experience coding in Python, C/C++, and OpenCL. 
        In particular, my work is predominantly in the scientific computing and Python data science space.

    </p>
    <p>
        In my free time I like spending time outdoors hiking, skiing and kayaking, taking photos along the way!
    </p>
</section>
<br />

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
