---
layout: archive
---

<h1>About me</h1>
<section class="page__content" itemprop="text">
<!-- <section class="page__content" itemprop="text" style="font-size:$type-size-6"> -->
    <p>
        I'm Zig Hampel, a physics Ph.D., data analyst, and programmer with demonstrable experience 
        applying machine learning in various domains.
        I have several years of experience coding in Python, C/C++, and OpenCL. 
        In addition to my technical background, I serve in an advisory capacity to the
        <a href="https://www.nmleep.com/slc">NM LEEP</a> and
        <a href="https://insightfellows.com/data-science">Insight Data Science</a> programs.

    </p>
    <p>
        In my free time I like spending time outdoors hiking, skiing and kayaking, taking photos along the way!
    </p>
</section>
<br />

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
